
# ignore everything
/*

# include .gitignore and README.md
!.gitignore
!README.md

# include individual config files
!.gitconfig
!.tmux.conf
!.vimrc
!.zshrc

# include config directory
!.config/
.config/*

# include neofetch and nvim config dirs
!.config/neofetch/
!.config/nvim/

